---
import Layout from "@layouts/Default.astro";
import ButtonMain from "@components/base/ButtonMain.astro";
import HeroMain from "@components/hero/HeroMain.astro";
import SectionMuted from "@components/section/SectionMuted.astro";
import Container from "@components/section/Container.astro";
import SectionTitle from "@components/section/SectionTitle.astro";
import IconBlock from "@components/content/IconBlock.astro";
import Toolbar from "@components/content/doctors/grid/Toolbar.astro";
import Filters from "@components/content/doctors/grid/Filters.astro";
import Grid from "@components/content/doctors/grid/Grid.astro";
import SideStatsRight from "@components/content/features/SideStatsRight.astro";
import SideStatsLeft from "@components/content/features/SideStatsLeft.astro";
import Pricing from "@components/content/Pricing.astro";
import Cta from "@components/content/Cta.astro";
import Testimonials from "@components/content/Testimonials.astro";
import Visit from "@components/section/Visit.astro";
---

<Layout title="Home">
  <HeroMain />
  <SectionMuted>
    <Container>
      <SectionTitle
        title="Olvídate de las complicaciones"
        subtitle="Accede a atención médica de calidad de forma rápida y sencilla. Nuestro equipo está listo para ayudarte en todo momento."
        minititle="Atención Médica Bajo Demanda"
      />

      <div class="grid md:grid-cols-3 ltablet:grid-cols-4 lg:grid-cols-4 gap-x-6 gap-y-12" x-intersect="activeStep = ''">
        <!-- Item -->
        <div>
          <IconBlock
            title="Ahorra tiempo y esfuerzo"
            text="Agenda tus consultas en línea y evita largas esperas. Recibe atención médica sin salir de casa."
            icon="ph:timer-duotone"
            class="'text-primary-600'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Profesionales certificados"
            text="Nuestro equipo médico está compuesto por especialistas altamente calificados y con amplia experiencia."
            icon="ph:first-aid-duotone"
            class="'text-rose-500'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Emergencias 24/7"
            text="Atención médica disponible en todo momento para brindarte la ayuda que necesitas en situaciones urgentes."
            icon="ph:first-aid-kit-duotone"
            class="'text-primary-600'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Servicios integrados"
            text="Consulta con diferentes especialistas y accede a tratamientos complementarios sin complicaciones."
            icon="ph:heartbeat-duotone"
            class="'text-rose-500'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Consultas por video"
            text="Habla con un médico desde la comodidad de tu hogar a través de videollamadas seguras y privadas."
            icon="ph:video-camera-duotone"
            class="'text-primary-600'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Consultas por audio"
            text="Recibe orientación médica a través de llamadas de audio con nuestros profesionales de salud."
            icon="ph:phone-duotone"
            class="'text-primary-600'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Agendamiento de citas"
            text="Reserva tu consulta fácilmente y elige el horario que mejor se adapte a tu disponibilidad."
            icon="ph:calendar-duotone"
            class="'text-primary-600'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Recetas médicas"
            text="Obtén recetas electrónicas y accede a la medicación que necesitas sin complicaciones."
            icon="ph:pill-duotone"
            class="'text-primary-600'"
          />
        </div>
      </div>
    </Container>
  </SectionMuted>
  <SectionMuted class="'border-b border-muted-200 dark:border-muted-800'">
    <Container>
      <SectionTitle
      title="Nuestros excelentes médicos"
      subtitle="Contamos con un equipo de especialistas altamente capacitados, comprometidos con tu salud y bienestar."
      minititle="Profesionales de la Salud"
      class="'mx-auto text-center'"
  />  

      <div id="doctors" x-data="doctors()"  x-intersect="activeStep = 'spy-1'">
        <Toolbar />

        <!--Grid wrapper-->
        <div class="py-10">
          <div class="grid grid-cols-12 md:gap-12 pb-20">
            <!--Filters-->
            <div class="hidden lg:block col-span-12 lg:col-span-3">
              <Filters />
            </div>
            <!--Content-->
            <div class="col-span-12 lg:col-span-9">
              <!--Subgrid-->
              <Grid />
            </div>
          </div>
          <div class="flex items-center justify-center mt-10">
            <ButtonMain to="#" class="'w-64 !h-14 max-w-full'">View All Doctors</ButtonMain>
          </div>
        </div>
      </div>
    </Container>
  </SectionMuted>

  <SectionMuted class="'overflow-hidden'">
    <Container>
      <div class="py-10">
        <SideStatsRight />
        <SideStatsLeft />
      </div>
    </Container>
  </SectionMuted>

  <SectionMuted>
    <Container>
      <!-- <SectionTitle
        title="Pricing Options"
        subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tibi hoc incredibile, quod beatissimum."
        minititle="Simple Pricing"
        class="'mx-auto text-center'"
      /> -->
      <Pricing />
    </Container>
  </SectionMuted>

  <SectionMuted>
    <Container>
      <SectionTitle
        title="Visítanos"
        subtitle="Encuéntranos en nuestra ubicación y descubre todo lo que tenemos para ofrecerte. Nuestro equipo está listo para atenderte con la mejor atención y profesionalismo."
        minititle="Ubicación"
        class="'mx-auto text-center'"
      />
      <div id="visit" x-data="visit()"  x-intersect="activeStep = 'spy-4'"></div>
      <Visit />
    </Container>
  </SectionMuted>
  
  
  <SectionMuted>
    <Container>
      <SectionTitle
    title="Nuestros pacientes confían en nosotros"
    subtitle="Las experiencias de nuestros pacientes hablan por sí solas. Descubre cómo hemos mejorado su calidad de vida con nuestros servicios médicos."
    minititle="Testimonios"
    class="'mx-auto text-center'"
/>
<div id="testimonials" x-data=testimonials()"  x-intersect="activeStep = 'spy-5'"></div>
      <Testimonials />
    </Container>
  </SectionMuted>

  <SectionMuted>
    <Container>
      <Cta />
    </Container>
  </SectionMuted>
</Layout>
